includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: max
    paths:
        - bin
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    resultCachePath: var/phpstan
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    checkMissingOverrideMethodAttribute: true
